body{
    margin:0;
    background-color: #fdfcf7;
}

/* Animación de latido */
@keyframes latido {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* La animación es cuando esté el ratón encima */
.animacion:hover {
    animation: latido 0.7s infinite;
}

/* Estilos del header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5dd;
    padding-inline: 20px;
}
        /* Estilos del logo */
        .logo {
            width: 100px;
            height: 100px;
            background-image: url('logo.png');
            background-size: contain;
            position: relative;
            opacity: 0; /* Inicialmente oculto */
            animation: fadeInOut 7s infinite; /* Animación de aparecer y desaparecer */
        }

        /* Animación de aparecer y desaparecer */
        @keyframes fadeInOut {
            0%, 100% { opacity: 0; } /* El logo está oculto al inicio y al final */
            50% { opacity: 1; } /* El logo está visible a la mitad de la animación */
        }

.header h1 {
    flex-grow: 1;
    text-align: center;
    font-family: Cursive;
    font-weight: bold;
    font-size: 15px;
}

.header img{
    padding-inline: 5px;
}


/* Barra de navegación */
.navbar {
    overflow: hidden;
    background-color: #fe9900;
    display: block;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f1f1d5;
    color: black;
}

.navbar input {
    font-family: Cursive;
    font-weight: bold;
    margin: 0.88em;
    float: right;
    width: 10em;
    border-radius: 4px;
    border: 1px solid #9b9696;
}

.nav-button {
    display: none;
}



  /* Seccion de imagenes */
.novedades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #99999b;
    padding: 1%; /* Ajusta el padding en porcentaje */
    width: auto;
}


/* Barra lateral */
.lateral {
    overflow: hidden;
    background-color: white;
    width: 25%; /* Ajusta el ancho al 25% del contenedor padre */
    position: relative;
    right: 0;
    top: 1em;
    border: 2px solid #dcdcdc;
    transition: width 0.5s ease; /* Agrega una transición suave al ancho */
}
  
.lateral a {
    font-size: 16px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block; /* Hace que los enlaces se muestren como bloques para ocupar toda la anchura */
}
  
.lateral a:hover {
    background-color: #999999;
    color: black;
}
  
.lateral h4 {
    padding: 0px 16px;
}
  
/* Estilo para el contenido principal */
.principal{
    width: 100%; /*  ajustar el ancho según tus necesidades */
    /*margin: left; /* Centra el contenedor en la página */
    display: flex;
}
.contenido {
    /*margin-right: 25%; /* Ajusta el margen izquierdo para dejar espacio para la barra lateral */
    padding: 1px 16px; /* Ajusta el relleno del contenido */
    width: 80%;
}

/* Seccion productos*/
#contenedor {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    /*max-width: 700px;*/
    overflow-y: auto; /* Barra para mover porsi es muy pequeño */
    position: relative; /* Posicion relativa para poderponer el texto */
    margin-bottom: 1em;
}
.interno {
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    margin-top: 2em;
    text-align: center;

   
}
.interno img {
    max-width: 100%;
    max-height: 200px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.texto-esquina-izquierda {
    position: absolute;
    top: 0.5em;
    left: 1em;
    padding: 5px;
    margin: 0;
}
.subrayado-color {
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 7px;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.izquierda {
    display: flex;
    align-items: center;
}

.izquierda a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.siguenos {
    text-align: center;
}

.logos {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.logos img {
    width: 30px;
    margin-left: 10px;
}


/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: rgb(234, 243, 243); /* Cambia el color de fondo a azul claro en dispositivos móviles */
    }
    /*navegacion*/
    .navbar {
        overflow: hidden;
        background-color: #fe9900;
        display: none;
        position: absolute;
        width: 100%;
        z-index: 999;
        transition: height 0.5s ease;
    }

    .navbar.open {
        display: block;
    }

    .navbar a {
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 0.875em 1em;
        text-decoration: none;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #f1f1d5;
        color: black;
    }

    .navbar input {
        font-family: Cursive;
        font-weight: bold;
        margin: 0.88em auto; /* Centra el input verticalmente */
        display: block; /* Hace que el input ocupe toda la anchura disponible */
        width: calc(100% - 2em); /* Ajusta el ancho del input */
        border-radius: 4px;
        border: 1px solid #9b9696;
        box-sizing: border-box; /* Incluye el padding en el ancho */
    }

    .nav-button {
        display: block;
        width: 97.7%;
        cursor: pointer;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        background-color: #fe9900;
    }
    #contenedor {
        background-color: #fdfcf7;
    }
}

 /* Estilos para dispositivos móviles */
 @media only screen and (max-width: 767px) {
    body {
        background-color: rgb(214, 231, 237); /* Cambia el color de fondo a azul claro en dispositivos móviles */
    }
    /* Navegacion */
    .navbar {
        overflow: hidden;
        background-color: #fe9900;
        display: none;
        position: absolute;
        width: 100%;
        z-index: 999;
        transition: height 0.5s ease;
    }

    .navbar.open {
        display: block;
    }

    .navbar a {
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 0.875em 1em;
        text-decoration: none;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #f1f1d5;
        color: black;
    }

    .navbar input {
        font-family: Cursive;
        font-weight: bold;
        margin: 0.88em auto; /* Centra el input verticalmente */
        display: block; /* Hace que el input ocupe toda la anchura disponible */
        width: calc(100% - 2em); /* Ajusta el ancho del input */
        border-radius: 4px;
        border: 1px solid #9b9696;
        box-sizing: border-box; /* Incluye el padding en el ancho */
    }

    .nav-button {
        display: block;
        width: 97%;
        cursor: pointer;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        background-color: #fe9900;
    }

    /* Contenido */
    .contenido{
        z-index: 997;
        position: relative;
        align-items: center;
        align-content: center;
    }
    /* Barra lateral */ 
    .lateral {
        width: 0; /* Oculta la barra lateral por defecto en dispositivos móviles */
        border: none;
    }

    .menu-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: block; /* Muestra el botón de menú en dispositivos móviles */
        cursor: pointer;
        padding: 10px;
        text-align: center;
        font-size: 10px; /* Ajusta el tamaño de la fuente para hacer el botón más pequeño */
        z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
    }

    .menu-button:hover {
        background-color: #999999;
    }

    .lateral.open {
    
        border-color: #999999;
        border:2px solid;
            width: 50%; /* Ancho del lateral al 50% */
            height: 100%; /* Altura del lateral al 100% */
            position: fixed; /* Posición fija para que no se mueva al hacer scroll */
            top: 0; 
            right:0 ; 
            background-color: #fff;
            z-index: 998; /* Asegura que esté encima de otros elementos */
            align-items: center; 
            justify-content: center; 
            overflow: auto;
        
    }

    /* Animacion boton */
    @keyframes rodar {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .bola {
        width: 40px;
        height: 40px;
        background-image: url('bola.png');
        background-size: cover;
        animation: rodar 10s linear infinite; /* La bola rota constantemente */
    }
    /* Seccion productos */
    #contenedor {
        background-color: #fdfcf7;
        width: 100%;
    }

    /* Pie de pagina */

    .footer{
        display: block;
        width: 100vw;
    }
    .izquierda{
        display: block;
        justify-content: space-between;
        align-items: center;
    }
}
